/*-----RESPONSIVE LARGE-----*/
@media (max-width: 1270px) {
  .projets-content-card-box {
    height: 250px;
  }
}
/*-----RESPONSIVE LARGE-----*/
@media (max-width: 1160px) {
  .projets-content-card-box {
    height: 275px;
  }
  .entreprise {
    padding: 100px 50px 75px 50px !important;
  }
}
/*-----RESPONSIVE MEDIUM-----*/
@media (max-width: 1000px) {
  .max-width {
    padding: 0 50px;
  }
  .navbar-btn {
    display: block;
    z-index: 999;
  }
  .navbar-btn i.active:before {
    content: "\f00d";
  }
  .navbar-menu {
    position: fixed;
    text-align: center;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    background-color: #041527;
    transition: all 0.3s ease;
  }
  .navbar-menu.active {
    right: 0;
  }
  .navbar-menu li {
    display: block;
  }
  .navbar-menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .skills-content-bars {
    width: 500px;
  }
  .projets-content-card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .projets-content-card-box {
    height: 225px;
  }
  .contact-field-email,
  .contact-field-subject,
  .contact-field-textarea {
    padding-right: 14%;
  }
  .contact-field-name,
  .contact-field-subject,
  .contact-field-textarea,
  .contact-field-button {
    padding-left: 14%;
  }
}

/*-----RESPONSIVE MIDDLE-----*/
@media (max-width: 820px) {
  .home-content {
    padding-bottom: 150px;
  }
  .home-imgbox {
    display: none;
  }
  .skills-content-bars {
    width: 450px;
  }
  .about-content-column {
    width: 100%;
  }
  .about-content-column-right {
    padding-top: 50px;
  }
  .about-content-column-right ul {
    float: none;
  }
  .projets-content-card-box {
    height: 240px;
  }
  .contact-field-email,
  .contact-field-subject,
  .contact-field-textarea {
    padding-right: 9%;
  }
  .contact-field-name,
  .contact-field-subject,
  .contact-field-textarea,
  .contact-field-button {
    padding-left: 9%;
  }
  .stage-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .stage-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .entreprise-text1 {
    padding-bottom: 25px;
    margin-right: 0;
  }
  .stage-container1 img {
    padding-bottom: 25px;
  }
  .entreprise-text2 {
    padding-bottom: 25px;
    margin-left: 0;
  }
}

/*-----RESPONSIVE SMALL-----*/
@media (max-width: 750px) {
  .home-content {
    padding-top: 80px;
  }
  .home-imgbox {
    display: none;
  }
  .skills-content-bars {
    width: 350px;
  }
  .projets-content-card {
    width: 100%;
  }
  .projets-content-card-box {
    height: 200px;
  }
  .contact-field-email,
  .contact-field-subject,
  .contact-field-textarea {
    padding-right: 3%;
  }
  .contact-field-name,
  .contact-field-subject,
  .contact-field-textarea,
  .contact-field-button {
    padding-left: 3%;
  }
}

/*-----RESPONSIVE VERY-SMALL-----*/
@media (max-width: 600px) {
  .skills-content-bars {
    width: 270px;
  }
  .about-content-column-left {
    padding: 0px;
  }
  .projets-content-card-box {
    height: 230px;
  }
}

/*-----RESPONSIVE MEGA-SMALL-----*/
@media (max-width: 450px) {
  .skills-content-bars {
    width: 220px;
  }
  .about-content-column-right h3 {
    font-size: 12px;
  }
  .about-content-column-right-date::before {
    font-size: 10px;
  }
  .projets-content-card-box {
    height: 290px;
  }
  .projets-content-card-box img {
    width: 160px;
    height: 90px;
    object-fit: cover;
  }
}
